<!-- -------------------------------------------------------------------------------

    ____ __   _                              _             
   / ___JLJ  FJ_      ____     _ ___      ___FJ     ____   
  J |_--'   J  _|    F __ J   J '__ J    F __  L   F __ J  
  |  _|  FJ | |-'   | _____J  | |__| |  | |--| |  | |--| | 
  F |_J J  LF |__-. F L___--. F L  J J  F L__J J  F L__J J 
 J__F   J__L\_____/J\______/FJ__L  J__LJ\____,__LJ\______/F
 |__|   |__|J_____F J______F |__L  J__| J____,__F J______F


 Brought to you by @makenai and @suziam, follow the project @fitendo
 Lovingly created during the first @vegasHackathon event in downtown Las Vegas 2/23/2013
 We won red pants, mission accomplished

-------------------------------------------------------------------------------- -->

                                                           
<% content_for :header do %>

	<!-- TODO: Move this to an external file as much as possible -->
	<script type="text/javascript">
	    // The video to load
	    var video_id = "z9q0rBssKag",
	    	// Lets Flash from another domain call JavaScript
	    	params = { allowScriptAccess: "always", wmode: "transparent" },
	    	// The element id of the Flash embed
	    	atts = { id: "ytPlayer" },
	   		// I was going to neaten up the horrible bunch of parameters below with this object, to come soon.
	    	settings = {};

	    // upon init, this is the first time we've played
	    firstPlay = true;

	    // All of the magic handled by SWFObject (http://code.google.com/p/swfobject/)
	    swfobject.embedSWF("http://www.youtube.com/v/" + video_id + "?version=3&enablejsapi=1&playerapiid=player1&controls=0&modestbranding=1&rel=0&showinfo=0&autohide=1&autoplay=0","videoDiv", "560", "460", "9", null, null, params, atts);

			function setCurrentLevel( time ) {
				var currentLevel = null;
				for ( var i=0; i<GAME_TIMING.length; i++ ) {
					if ( time >= GAME_TIMING[i][0] ) {
						currentLevel = GAME_TIMING[i][2];
					} else {
						break;
					}
				}
				document.getElementById('level').innerHTML = 'World ' + currentLevel;
				return currentLevel;
			}


	    // All of the other magic happens here
	    function onYouTubePlayerReady(playerId) {
	    	var titleTime = 9,
	    		stepRatio = Math.ceil(<%= @starting_steps %> / 400),
	    		startTime = titleTime + stepRatio;

				setCurrentLevel( startTime );

	    	// this needs to be global for now
    		endTime = Math.ceil(titleTime + (<%= @ending_steps %> / 400));

    		// get the video ready and pause it on page load
	    	ytPlayer.seekTo(startTime);
	    	ytPlayer.pauseVideo();

	    	// start button event
	    	$('#progressbtn').click(function(e) {
	    		e.preventDefault();

	    		// cast the button for use with jQuery lazy wah wah
	    		var button = $(e.currentTarget);

	    		// seek to the starting time just in case someone is already watching video
	    		ytPlayer.seekTo(startTime);
	    		// play video from starting point
	    		ytPlayer.playVideo();

	    		// stop the end point checker for video, ready for another
	    		clearInterval(window.checker);

	    		// set up the checker so we know when to stop the video
	    		// it listens for seconds elapsed
	    		window.checker = setInterval(listenForTime, 41);

	    		// start the steps countdown in the UI
	    		doCountdown();

	    		// swap out the text when someone clicks the button for the first time
	    		if (firstPlay) {
	    			button.html("Play again? ►");
	    			firstPlay = false;
	    		} else {
	    			// reset the time when someone clicks the button to replay
	    			currentTime = 0;
	    		}
	    	});
	    }

	    // this function listens for the time elapsed to match the ending time of the user's daily progress
	    listenForTime = function() {
	    	// poll the video to get the time elapsed
	    	var currentTime = parseInt(ytPlayer.getCurrentTime(), 10);

	    	// if the elapsed time if matching, pause the video
	    	if (currentTime === endTime) {
	    		ytPlayer.pauseVideo();
	    		// clear the checker interval that is running this function
	    		clearInterval(checker);
	    		// reset the time in case the user wants to play the video again
	    		currentTime = 0;
	    	}
	    }

	    function doCountdown() {
	    	var starting_steps = <%= @starting_steps %>,
	    		ending_steps = <%= @ending_steps %>,
	    		// first count is for steps today
	    		count = 0,
	    		// second count is for steps total
	    		count2 = starting_steps,
	    		// we really need to figure this ratio out 
	    		stepRate = 60 / 800,
	    		// start the interval to update the steps in the UI
				counter = setInterval(timer, stepRate), // 1000 will  run it every 1 second
				// total steps math to display in the UI
				totalSteps = ending_steps - starting_steps;

			// create the countdowns, this is run in an interval
			function timer()
			{
				// increment the counters each time this runs
				count = count + 1;
				count2 = count2 + 1;

				// if the counter reaches the total step amounts, stop the timer
				if (count >= totalSteps) {
					// clear the interval running
					clearInterval(counter);
					return;
				}

				// update the html to reflect this counter for the steps
				document.getElementById("timer1").innerHTML = count + " steps today";
				document.getElementById("timer2").innerHTML = count2 + " steps total";
			}
	    }
	    

	</script>

<% end %>

<div id="mainwrapper">

	<div id="tvwrapper">
		<div id="tv">
			<img src="/assets/tv.png"/>
		</div>
		<div id="videoDiv">
			<h1>Alternative content</h1>
			<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
		</div>
	</div>

	<div id="userInfo">
		<h1><img src="/assets/fitendo.png" width="300"/></h1>
		<h2><%= @user['displayName'] %></h2>
  		<%= image_tag @user['avatar'] %><br />
  		<b>Starting steps:</b> <%= @starting_steps %><br/>
  		<b>Steps today:</b> <%= @activities['summary']['steps'] %> (<a href="/results?date=<%= @date.strftime('%Y-%m-%d') %>&refresh=1">refresh</a>)

  		<p><a id="progressbtn" href="">Show Progress! ►</a></p>

  		<div id="calendar">
  			<h3>Choose a day:</h3>
		<% if @previous_day %>
			<p><a href="/results?date=<%= @previous_day.strftime('%Y-%m-%d') %>">&laquo; <%= @previous_day.strftime("%A, %B #{@previous_day.day.ordinalize}") %></a></p>
		<% end %>

		<p><b><%= @date.strftime("%A, %B #{@date.day.ordinalize}") %></b></p>

		<% if @next_day %>
			<p><a href="/results?date=<%= @next_day.strftime('%Y-%m-%d') %>"><%= @next_day.strftime("%A, %B #{@next_day.day.ordinalize}") %> &raquo;</a></p>
		<% end %>

		<p><a href="/logout">Log Out</a></p>

	</div>

			<p id="level"></p>
  		<p id="timer1"></p>
  		<p id="timer2"></p>

	</div>

	

</div>












