<!--
    ____ __   _                              _             
   / ___JLJ  FJ_      ____     _ ___      ___FJ     ____   
  J |_--'   J  _|    F __ J   J '__ J    F __  L   F __ J  
  |  _|  FJ | |-'   | _____J  | |__| |  | |--| |  | |--| | 
  F |_J J  LF |__-. F L___--. F L  J J  F L__J J  F L__J J 
 J__F   J__L\_____/J\______/FJ__L  J__LJ\____,__LJ\______/F
 |__|   |__|J_____F J______F |__L  J__| J____,__F J______F 

-->

                                                           
<% content_for :header do %>
	<script type="text/javascript">
	    // The video to load.
	    var video_id = "z9q0rBssKag"
	    // Lets Flash from another domain call JavaScript
	    var params = { allowScriptAccess: "always", wmode: "transparent" };
	    // The element id of the Flash embed
	    var atts = { id: "ytPlayer" };
	    var settings = {};
	    // All of the magic handled by SWFObject (http://code.google.com/p/swfobject/)
	    swfobject.embedSWF("http://www.youtube.com/v/" + video_id + "?version=3&enablejsapi=1&playerapiid=player1&controls=0&modestbranding=1&rel=0&showinfo=0&autohide=1&autoplay=0", "videoDiv", "560", "460", "9", null, null, params, atts);

	    function onYouTubePlayerReady(playerId) {
	    	var titleTime = 9,
	    		stepRatio = Math.floor(<%= @starting_steps %> / 400),
	    		startTime = titleTime + stepRatio;
	    		endTime = Math.floor(titleTime + (<%= @ending_steps %> / 400));

	    	ytPlayer.seekTo(startTime);
	    	ytPlayer.pauseVideo();
	    	$('#progressbtn').click(function(e) {
	    		e.preventDefault();
	    		ytPlayer.seekTo(startTime);
	    		ytPlayer.playVideo();
	    		clearInterval(window.checker);
	    		window.checker = setInterval(listenForTime, 41);
	    		doCountdown();
	    		var buttontext = e.currentTarget.text;
	    		if (buttontext == "Start progress!") {
	    			console.log("yes");
	    			$(e.currentTarget).html("Play again?");
	    		} else {
	    			currentTime = 0;
	    		}
	    	});
	    }

	    listenForTime = function() {
	    	var currentTime = parseInt(ytPlayer.getCurrentTime(), 10);
	    	console.log(currentTime, endTime);
	    	if (currentTime === endTime) {
	    		ytPlayer.pauseVideo();
	    		clearInterval(checker);
	    		currentTime = 0;
	    		console.log('endtime!');
	    	}
	    }

	    function doCountdown() {
	    	var count = 0;
	    	var stepRate = count / <%= @starting_steps %>;
			var counter = setInterval(timer, stepRate); //1000 will  run it every 1 second
			var totalSteps = <%= @ending_steps %> - <%= @starting_steps %>;

			var count2 = <%= @starting_steps %>;

			function timer()
			{
			  count = count + 1;
			  count2 = count2 + 1;
			  if (count >= totalSteps)
			  {
			     clearInterval(counter);
			     //counter ended, do something here
			     return;
			  }

			  document.getElementById("timer1").innerHTML = count + " steps today";
			  document.getElementById("timer2").innerHTML = count2 + " steps total";
			}
	    }
	    

	</script>


<% end %>

<div id="mainwrapper">

	<div id="tvwrapper">
		<div id="tv">
			<img src="/assets/tv.png"/>
		</div>
		<div id="videoDiv">
			<h1>Alternative content</h1>
			<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
		</div>
	</div>

	<div id="userInfo">
		<h2><%= @user['displayName'] %></h2>
  		<%= image_tag @user['avatar'] %><br />
  		Starting steps: <%= @starting_steps %><br/>
  		Steps today: <%= @ending_steps %>

  		<p><a id="progressbtn" href="">Start progress!</a></p>

  		<p id="timer1"></p>
  		<p id="timer2"></p>

	</div>

	<div id="calendar">

		<% if @previous_day %>
			<a href="/results?date=<%= @previous_day.strftime('%Y-%m-%d') %>"><%= @previous_day.strftime("%A, %B #{@previous_day.day.ordinalize}") %> &laquo;</a>
		<% end %>

		<b><%= @date.strftime("%A, %B #{@date.day.ordinalize}") %></b>

		<% if @next_day %>
			<a href="/results?date=<%= @next_day.strftime('%Y-%m-%d') %>"><%= @next_day.strftime("%A, %B #{@next_day.day.ordinalize}") %> &raquo;</a>
		<% end %>

	</div>

</div>












